<div class="col-md-12 animated fadeIn fast">
    <h3 *ngIf="nuevo">Nuevo héroe</h3>
    <h3 *ngIf="!nuevo">{{ heroe.nombre }}</h3>
    <div class="text-right">
        <button [routerLink]="['heroes']" class="btn btn-small btn-outline-danger">Volver</button>
        <button (click)="agregarNuevo(formulario)" class="btn btn-small btn-outline-success">Nuevo héroe</button>
    </div>
</div>
<hr>

<div class="row animated fadeIn">
    <div class="col-md-12">
        <form (ngSubmit)="guardar()" #formulario="ngForm">
            <div class="form-group">
                <label>Nombre</label>
                <input type="text" class="form-control" placeholder="Nombre" [(ngModel)]="heroe.nombre" name="nombre" required>
            </div>
            <div class="form-group">
                <label>Editora</label>
                <select class="form-control" [(ngModel)]="heroe.editora" name="editora">
                  <option value="Marvel">Marvel</option>
                  <option value="DC">DC</option>
                </select>
            </div>
            <div class="form-group">
                <label>Biografía</label>
                <textarea type="text" class="form-control" [(ngModel)]="heroe.biografia" name="biografia"></textarea>
            </div>
            <div class="form-group">
                <button [disabled]="formulario.invalid" type="submit" class="btn btn-outline-primary">
                  Guardar
                </button>
            </div>
        </form>
    </div>
</div>