<div class="container">
    <br>
    <h1>Pipes</h1>
    <hr>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Variable</th>
                <th>Pipe</th>
                <th>Producto</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> {{ nombre }} </td>
                <td> uppercase </td>
                <td> {{ nombre | uppercase }} </td>
            </tr>
            <tr>
                <td> {{ nombre }} </td>
                <td> lowercase </td>
                <td> {{ nombre | lowercase }} </td>
            </tr>
            <tr>
                <td> {{ nombre }} </td>
                <td> slice:3 </td>
                <td> {{ nombre | slice:3 }} </td>
            </tr>
            <tr>
                <td> {{ nombre }} </td>
                <td> slice:0:3 </td>
                <td> {{ nombre | slice:0:3 }} </td>
            </tr>
            <tr>
                <td> {{ arr }} </td>
                <td> slice:1:5 </td>
                <td> {{ arr | slice:1:5 }} </td>
            </tr>
            <tr>
                <td> {{ PI }} </td>
                <td> number </td>
                <td> {{ PI | number }} </td>
            </tr>
            <tr>
                <td> {{ PI }} </td>
                <td> number:'3.0-0' </td>
                <td> {{ PI | number:'3.0-0' }} </td>
            </tr>
            <tr>
                <td> {{ PI }} </td>
                <td> number:'1.0-2' </td>
                <td> {{ PI | number:'1.0-2' }} </td>
            </tr>
            <tr>
                <td> {{ num }} </td>
                <td> percent </td>
                <td> {{ num | percent }} </td>
            </tr>
            <tr>
                <td> {{ num }} </td>
                <td> percent:'2.0-2' </td>
                <td> {{ num | percent:'2.0-2' }} </td>
            </tr>
            <tr>
                <td> {{ num }} </td>
                <td> percent:'2.2-4' </td>
                <td> {{ num | percent:'2.2-4' }} </td>
            </tr>
            <tr>
                <td> {{ val }} </td>
                <td> currency </td>
                <td> {{ val | currency }} </td>
            </tr>
            <tr>
                <td> {{ val }} </td>
                <td> currency:'EUR' </td>
                <td> {{ val | currency:'EUR' }} </td>
            </tr>
            <tr>
                <td> {{ val }} </td>
                <td> currency:'EUR':false </td>
                <td> {{ val | currency:'EUR':false }} </td>
            </tr>
            <tr>
                <td> {{ val }} </td>
                <td> currency:'EUR':true:'4.0-0' </td>
                <td> {{ val | currency:'EUR':true:'4.0-0' }} </td>
            </tr>
            <tr>
                <td> {{ val }} </td>
                <td> number:'.2-2' </td>
                <td> {{ val | number:'.2-2' }} </td>
            </tr>
            <tr>
                <td> {{ valorPromesa }} </td>
                <td> async </td>
                <td> {{ valorPromesa | async }} </td>
            </tr>
            <tr>
                <td> {{ fecha }} </td>
                <td> date </td>
                <td> {{ fecha | date }} </td>
            </tr>
            <tr>
                <td> {{ fecha }} </td>
                <td> date:'medium' </td>
                <td> {{ fecha | date:'medium' }} </td>
            </tr>
            <tr>
                <td> {{ fecha }} </td>
                <td> date:'MMMM - dd' </td>
                <td> {{ fecha | date:'MMMM - dd' }} </td>
            </tr>
            <tr>
                <td> {{ fecha }} </td>
                <td> date:'dd/MM/yyyy' </td>
                <td> {{ fecha | date:'dd/MM/yyyy' }} </td>
            </tr>
            <tr>
                <td> {{ nombre2 }} </td>
                <td> titlecase </td>
                <td> {{ nombre2 | titlecase }} </td>
            </tr>
            <tr>
                <td> {{ nombre2 }} </td>
                <td> capitalize </td>
                <td> {{ nombre2 | capitalize }} </td>
            </tr>
            <tr>
                <td> {{ nombre2 }} </td>
                <td> capitalize:false </td>
                <td> {{ nombre2 | capitalize:false }} </td>
            </tr>
        </tbody>
    </table>

    <h3>Slice</h3>
    <ul>
        <li *ngFor="let item of arr | slice:5:20"> {{ item }} </li>
    </ul>

    <h4>JSON</h4>
    <pre>
      {{ heroe | json }}
    </pre>

    <h4>Youtube <small>video</small></h4>
    <hr>
    <iframe width="560" height="315" [src]="video | domseguro:'https://www.youtube.com/embed/'" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>