<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Peliculasapp</h1>
        <p class="lead">Aplicación de películas</p>
    </div>

    <div class="container">
        <app-galeria titulo="Cartelera" [cartelera]="cartelera | slice:0:6"></app-galeria>
        <app-galeria titulo="Populares" [cartelera]="populares | slice:0:6"></app-galeria>
        <app-galeria titulo="Populares niños" [cartelera]="popularesNinos | slice:0:6"></app-galeria>
    </div>
</div>