<mat-toolbar color="primary">
    <span>Mapas</span>
</mat-toolbar>

<div class="main-container">
    <button mat-raised-button style="margin-right: 2%;">Basic</button>
    <button mat-raised-button style="margin-right: 2%;" color="primary">Primary</button>
    <button mat-raised-button style="margin-right: 2%;" color="accent">Accent</button>
    <button mat-raised-button style="margin-right: 2%;" color="warn">Warn</button>
    <button mat-raised-button style="margin-right: 2%;" disabled>Disabled</button>
    <a mat-raised-button routerLink=".">Link</a>
    <br><br>
    <mat-progress-bar mode="query"></mat-progress-bar>
</div>