<h4>Formularios <small>template</small></h4>
<hr>
<form (ngSubmit)="guardar(formulario)" #formulario="ngForm" novalidate>

    <div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Nombre</label>
            <div class="col-8">
                <input class="form-control" [ngClass]="{ 'is-invalid': (nombre.errors?.required || nombre.errors?.minlength) && nombre.touched }" type="text" placeholder="Nombre" name="nombre" [(ngModel)]="usuario.nombre" minlength="3" #nombre="ngModel" required>
                <div class="invalid-feedback" *ngIf="nombre.errors?.required">
                    Este campo es obligatorio
                </div>
                <div class="invalid-feedback" *ngIf="nombre.errors?.minlength">
                    Longitud mínima de {{ nombre.errors.minlength.requiredLength }} caracteres
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Apellido</label>
            <div class="col-8">
                <input class="form-control" type="text" placeholder="Apellido" name="apellido" [(ngModel)]="usuario.apellido" #apellido="ngModel" required>
                <div class="" *ngIf="apellido.errors?.required">
                    Este campo es obligatorio
                </div>
            </div>
        </div>

    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Correo</label>
        <div class="col-md-8">
            <input class="form-control" type="email" placeholder="Correo electrónico" name="email" [(ngModel)]="usuario.email" #correo="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required>
            <div class="" *ngIf="correo.errors?.required">
                Este campo es obligatorio
            </div>
            <div class="" *ngIf="correo.errors?.pattern">
                No es un email válido
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Pais</label>
        <div class="col-md-8">
            <select name="pais" class="form-control" [(ngModel)]="usuario.pais" [disabled]="paises.length === 0" #pais="ngModel" required>
                <option [value]="pais.codigo" *ngFor="let pais of paises">{{ pais.nombre }}</option>
            </select>
            <div class="" *ngIf="pais.errors?.required">
                Este campo es obligatorio
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Sexo</label>
        <div class="col-md-8">
            <!-- <div class="custom-control custom-radio">
                <input [(ngModel)]="usuario.sexo" value="Hombre" type="radio" name="sexo" class="custom-control-input">
                <label class="custom-control-label">Hombre</label>
            </div>
            <div class="custom-control custom-radio">
                <input [(ngModel)]="usuario.sexo" value="Mujer" type="radio" name="sexo" class="custom-control-input">
                <label class="custom-control-label">Mujer</label>
            </div> -->
            <div class="custom-control custom-radio" *ngFor="let s of sexos">
                <input [(ngModel)]="usuario.sexo" [value]="s" type="radio" name="sexo" class="custom-control-input" [id]="s">
                <label class="custom-control-label" [for]="s">{{ s }}</label>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Aceptar</label>
        <div class="col-md-8">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="acepta" [(ngModel)]="usuario.acepta" name="acepta" required>
                <label class="custom-control-label" for="acepta">Aceptar las condiciones</label>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="input-group col-md-8">
            <button [disabled]="formulario.invalid" type="submit" class="btn btn-outline-primary">
        Guardar
      </button>
        </div>
    </div>

</form>