<h4>Formularios <small>data</small></h4>
<hr>
<form [formGroup]="formulario" (ngSubmit)="guardarCambios()">

    <div formGroupName="nombrecompleto">

        <div class="form-group row">
            <label class="col-2 col-form-label">Nombre</label>
            <div class="col-8">
                <input class="form-control" [ngClass]="{ 'is-invalid': formulario.controls['nombrecompleto'].controls['nombre'].invalid }" type="text" placeholder="Nombre" formControlName="nombre">
                <div class="invalid-feedback" *ngIf="formulario.get('nombrecompleto.nombre').errors?.required">
                    El nombre es necesario
                </div>
                <div class="invalid-feedback" *ngIf="formulario.get('nombrecompleto.nombre').errors?.minlength">
                    Longitud mínima de {{ formulario.get('nombrecompleto.nombre').errors.minlength.requiredLength }} caracteres
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Apellido</label>
            <div class="col-8">
                <input class="form-control" type="text" placeholder="Apellido" formControlName="apellido">
            </div>
        </div>

    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Correo</label>
        <div class="col-md-8">
            <input class="form-control" type="email" placeholder="Correo electrónico" formControlName="email">
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Contraseña</label>
        <div class="col-md-8">
            <input class="form-control" type="password" placeholder="Contraseña" formControlName="password1">
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Repetir contraseña</label>
        <div class="col-md-8">
            <input class="form-control" type="password" placeholder="Repetir contraseña" formControlName="password2">
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Gustos</label>
        <div class="col-md-8" formArrayName="gustos">
            <input type="text" class="form-control" [formControlName]="i" *ngFor="let gusto of formulario.controls['gustos'].controls; let i = index">
        </div>
        <button type="button" class="btn btn-primary" (click)="agregarGusto()">
            Nuevo
        </button>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="input-group col-md-8">
            <button type="submit" class="btn btn-outline-primary">
        Guardar
      </button>
        </div>
    </div>

</form>